# Various backup files
*~

# IDE settings
/.project
/.cproject
/.settings
/nbproject

# Autotools files
Makefile
Makefile.in
.deps

/aclocal.m4
/autom4te.cache
/configure
/config.log
/config.status
/build-aux
/oroch/config.h
/oroch/config.h.in
/oroch/stamp-h1

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
